@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Playpen+Sans:wght@500;600&family=Roboto+Slab&family=Rubik&display=swap');
.home-title{
    font-family:'Agbalumo';
    font-size: 2em;
    margin-top:10px;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: navy;
    text-decoration: none;
    padding-top: 70px;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
body main{
    font-family:'Playpen Sans'
}
.submain{
    font-family:'Playpen Sans'
}
.finalmain{
    font-family: 'Playpen Sans';
}
body{
    background-color: whitesmoke;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

body p{
font-family: "Roboto Slab";
}
header{
    background-color:#de5d83;
    display: grid;
    grid-template-columns: 150px auto;   
    height: 200px;
    font-size: 35px;
    font-family: 'Agbalumo';
}
nav a:hover{
    color: #cbcbfc;
    
}
.book, .join{
    background-color:navy;
    color: whitesmoke;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 10px;
    display: inline-block;
    font-size: 30px;
}

.book:hover, .join:hover{
    background-color:  #cbcbfc;
}
footer{
    background-color:#de5d83 ;
    color: navy;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 150px;
}
#logo_link{
    padding-top: 5px;
    padding-left: 30px;
    justify-self: center;
    align-self: center;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
footer a{
    text-decoration: none;
    color: navy;
}
footer a:hover{
color:  #cbcbfc ;
}
footer p{
font-size: 1.1em;
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 30px;
}
h2{
    margin: 0;
    color: black;
    text-align: center;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #AABA99;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #2F4858;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
nav{
    display: flex;
    justify-content: space-around;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
#background{
    background-color:#86BBD8 ;
}
.mountains{
    margin: 100px auto;
    box-shadow: 5px 5px 10px grey;
    max-width: 25%;
    margin: 20px;
    float: left;
}
.mountains2{
    margin: 100px auto;
    box-shadow: 5px 5px 10px grey;
    max-width: 40%;
    margin: 20px;
}
.msg{
    background-color: #AABA99;
    line-height: 2.5em;
    padding: 50px;
    box-shadow: 5px 5px 5px grey;
    min-height: 700px;
    display: inline-block;
    text-align: center;
}
.msg1{
    background-color:#cbcbfc;
    line-height: 2.5em;
    padding: 35px;
    box-shadow: 5px 5px 5px grey;
    min-height: 400px;
    text-align: center;
}
.title-products{
    font-family: 'Rubik';
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h1{
        color: black;
    }
    #hero-msg h4 {
        display: none;
    }
    header{
        height: 100%;
        width: 100%;
    }
    .msg{
        height:100%;
    }
    .msg1{
        height:100%;
    }
    .clothing-grid{
        height: 100%;
        width: 100%;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: block;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .photo-img{
        height: 80%;
    }
    .pclothing-grid{
height: 100%;
width: 100%;
    }
    .pclothing-grid2{
        height: 100%;
        width: 100%;
            }
    .pclothing-grid img{
        width: 100%;
        height: 40%;
    }
    .pclothing-grid2 img{
        width: 100%;
        height: 50%;
    }
    .Adjustments{
        height: 100%;
        width: 100%;
    }
    .Adjustments img{
        height: 50%;
        width: 50%;
    }
}
.clothing-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    justify-items: center;
    text-align: center;
    background-color: #86BBD8;
    padding: 20px;
}
.pclothing-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    justify-items: center;
    text-align: center;
    background-color: #86BBD8;
    padding: 15px;
}

.pclothing-grid2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    justify-items: center;
    text-align: center;
    background-color: #de5d83;
    padding: 15px;
    height: 80%;
}
.Adjustments{
    background-color: #cbcbfc;
    height: 400px;
    padding: 20px;
}
.Adjustments img{
 width: 400px;
 float: left;
}
.Adjustments p{
    text-align: center;
    line-height: 1.5em;
}
.join2{
    text-align: center;
    background-color:navy;
    color: whitesmoke;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 30px;
}
.join2:hover{
    background-color:#de5d83;
}
.home-grid{
    height: 100%;
    Width: auto;
}
.photo-img{
    width: 100%;
    height: 100%;
    padding: 20px 0px;
}
.product-img{
    width: 100%;
    height: 80%;
    padding: 15px;
}
.dress1{
    grid-column:1/4;
    grid-row: 1/2;
}
.dress2{
    grid-column:1/4;
    grid-row: 2/3;
}
.skirt1{
    grid-column: 7/10;
    grid-row: 1/2;
}
.skirt2{
    grid-column: 7/10;
    grid-row: 2/3;
}
.shirt1{
    grid-column: 13/16;
    grid-row: 1/2;
}
.shirt2{
    grid-column:13/16;
    grid-row: 2/3;
}
.baby{
    grid-column: 19/22;
    grid-row: 1/2;
}
.baby2{
grid-column: 19/22;
grid-row: 2/3;
}
.title-products{
    text-align: center;
    background-color: navy;
    color: white;
    width: 100%;
    font-size: 40px;
}
.textp{
    padding:70px 5px 5px 5px;
    grid-column:4/7;
    grid-row:2/3;
    font-size: 15px;
}
.textp1{
    padding:70px 5px 5px 5px;
    grid-column:4/7;
    grid-row:1/2;
    font-size: 15px;
}
.text{
    padding:70px 5px 5px 5px;
    grid-column:10/13;
    grid-row:1/2;
    font-size: 15px;
}
.textp2{
    padding:70px 5px 5px 5px;
    grid-column:10/13;
    grid-row:2/3;
    font-size: 15px;
}
.textp3{
    padding:70px 5px 5px 5px;
    grid-column:16/19;
    grid-row:1/2;
    font-size: 15px;
}
.textp4a{
    padding:70px 5px 5px 5px;
    grid-column: 16/19;
    grid-row:2/3;
    font-size: 15px;
}
.textp4{
    padding:70px 5px 5px 5px;
    grid-column: 22/25;
    grid-row:1/2;
    font-size: 15px;
}
.textp5{
    padding:70px 5px 5px 5px;
    grid-column:22/25;
    grid-row:2/3;
    font-size: 15px;
}
.riv1{
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
}
#riv2{
    grid-column: 1/4;
    grid-row:2/3;
}
.camp1{
    grid-column: 4/7;
    grid-row: 1/2;
}
#camp2{
    grid-column: 4/7;
grid-row: 2/3;
}
.nat1{
    grid-column:7/10;
    grid-row: 1/2;
    width: 100%;
}
#nat2{
    grid-column: 7/10;
    grid-row: 2/3;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 100%;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 60%;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;}
  
  #feedback {
      background-color: antiquewhite;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: .5em;
      /* make this element invisible until we are ready for it */
      display: none;      
  }
  .moveDown {
      margin-top: 3em;
  }
  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

