body{
    background-color: #fca6c9;
    font-family:sans-serif
}
header{
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-align: center;
}
header p:hover{
    color: black;
}
.top-para{
    text-align: center; 
    color: white;
    font-size: 10px
}
main p{
    width: 320px;
    display: block;
    margin: 10px auto;
    line-height: 25px;
}
.nelson{
letter-spacing: .75px;
font-weight: bold;
font-size: 10px;
}
a{
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
}
img{
    width: 150px;
    display: block;
    margin: 10px auto;
}
li{
    width: 300px;
    display: block;
    margin: 10px auto;
    font-weight: bold;
    font-size: 12px;
}
div{
    font-weight: normal;
    color: white;
    font-family:Times, serif;
    font-size: 25px;
    text-align: center;
    display: block;
    line-height: 30px;
    margin: 15px auto;
    width: 220px;
}
footer{
color: black;
font-size: 12px;
margin: 30px auto;
text-align: center;
width: 300px;
display: block;
line-height: 5px;
}

  