img{
  width: 80%;
  display: block;
  margin: 0 auto;
}
footer p{
  font-size: 20px;
  margin: 20px auto;
}
a:hover{
  background-color: white;
  color: steelblue;
}
h1{
  text-align: center;
}
nav, footer{
  background-color: steelblue;
  color: white;
  padding: 10px;
}
main p{
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
